$colors:
(
    "dark": #000000,
    "light": #ffffff,
    "accent": #ecd23d,
    "accent-hover": #ffd900,
);

$z-indexes:
(
    "header": 500
);

$fonts:
(
    "default": sans-serif
);

$transitions:
(
    "default": 350ms ease all
);