.header {
	position: sticky;
	top: 0;
	left: 0;

	width: 100%;
	z-index: z-index("header");

	background-color: color("dark");

	&__container {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		flex-wrap: wrap;
	}

	&__logo {
	}

	&__catalog {
		flex: 1;
	}

	&__search {}

	&__cart {}
}

// TODO
.cart-header, .search-header {
	padding: 0 .4em;
}

@import "./cart", "./catalog", "./search", "./logo";